<app-room-presentation
  [numbers]="numbers"
  [tshirtSizes]="tshirtSizes"
  [selectedNumber]="selectedNumber()"
  [selectedSize]="selectedSize()"
  [state]="state"
  [copyingLink]="copyingLink()"
  [votes]="votes()"
  [usersConnectedCount]="usersConnectedCount()"
  [usersVotedCount]="usersVotedCount()"
  [averageVotes]="averageVotes()"
  [forceReveal]="forceReveal()"
  (valueSelected)="onValueSelect($event)"
  (deleteVote)="deleteMyVote()"
  (resetVotes)="onResetVotes()"
  (copyInviteLink)="copyInviteLink()"
  (leave)="leaveRoom()"
  (toggleSpectator)="toggleSpectator()"
  (forceRevealCards)="onForceReveal()"
/>
